button {
    padding: 8px 15px;
    border: 0;
    border-radius: 100px;
    background-color: rgb(0, 49, 131);
    color: white;
    font-weight: Bold;
    font-size: 17px;
    cursor: pointer;

    transform: scale(1);
    transition:
        background-color 0.5s ease,
        transform 0.2s ease,
        opacity 0.2s ease;
}
  
button:not(:disabled):hover {
    transform: scale(1.05);
}

button:disabled {
    background-color: #999;
    opacity: 0.6;
    cursor: default;
    transform: scale(1);
}

/* Menu button */
.hamburger {
    cursor: pointer;
  }
  
.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

#menuBtn {
    position: relative; 
    top: 5px; 
    right: 5px; 
}

/* Settings button */
#settingsBtn img {
    position: absolute;
    width: 36px;
    height: 36px;
    display: block;
    z-index: 1;
    right: 5px;
}

#settingsBtn {
    position: absolute; 
    bottom: 15px;
}