/* Database table */
#tableContainer {
  padding: 0px 10px;
  width: 100%;
  box-sizing: border-box;
  flex: 1 1 auto;
  overflow-y: auto;
}

.db-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 12px;
  color: black;
}

.db-table th,
.db-table td {
  text-align: center;
  padding: 8px;
  vertical-align: middle;
}

.db-table td:last-child {
  text-align: left;
  vertical-align: middle;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;

  border-right: none;
}

.db-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 2px solid black;
  font-weight: 700;
  font-size: 14px;
  color: black;
  background: rgb(230, 230, 230);
  padding-top: 0px;
}

.db-table tbody td {
  border-bottom: 1px solid black;
  word-wrap: break-word;
  border-right: 1px solid black;
}

.db-table tbody tr:hover {
  background: #fafafa;
  cursor: pointer;
}