<div id="heading">
    <img id="spacer" class="logoClass" src="../static/lumcg.png" aria-hidden="true">
    <h1>Database</h1>
    <img id="logo" class="logoClass" src="../static/lumcg.png">
</div>
<div id="tableContainer">
  <table class="db-table">
    <thead>
      <tr>
        <th style="width: 45px;">pID</th>
        <th style="width: 120px;">Date of prediction</th>
        <th style="width: 100px;">Predicted class</th>
        <th style="width: 110px;">Confidence</th>
        <th style="width: 110px;">Reviewer</th>
        <th style="width: 110px;">Status</th>
        <th class="annotation-col">Annotation</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>
</div>